// nextflow.config

params {
    input_intsites    = 'input/intSites.tsv'
    genome_fa         = System.getenv('HOME') + '/path_to_genome/GRCh38.p13.genome.fa'
    intermediate_dir  = 'intermediate'
    resource_dir      = 'resource'
    output_dir        = 'results'
    patient           = ''   // optional override
}

process {
    executor = 'local'
    cpus = 2
    memory = '6 GB'
    queueSize = 100
}

profiles {
    standard {
        process {
            withName: '*'{ cpus = 2; memory = '6 GB' }
        }
    }
    slurm {
        process {
            executor = 'slurm'
            queueSize = 100
        }
    }
}

report {
    enabled = true
    file = 'results/pipeline_report.html'
}

timeline {
    enabled = true
    file = 'results/timeline.html'
}

trace {
    enabled = true
    file = 'results/trace.txt'
}

docker {
  enabled = false
}

conda {
  enabled = true
}
